/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Miama font */
@font-face {
  font-family: Miama;
  src: url("../../Downloads/miama/Miama.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
ol,
div,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --Inter: "Inter", sans-serif;
  --Miama: "Miama";
  --buttonColor: #e6533c;
  --primaryColor: #ffffff;
  --secondaryColor: #ffffff7e;
}

body {
  background-color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* utility */

.common-title {
  font-size: 48px;
  color: white;
  font-family: var(--Inter);
  font-weight: 800;
  padding-bottom: 12px;
}

.common-des {
  font-size: 14px;
  color: white;
  font-family: var(--Inter);
  font-weight: 400;
  opacity: 45%;
}

/* ======= */

/* ====== MAIN CSS ====== */

.banner {
  background-image: linear-gradient(
    to bottom,
    #111111bd,
    #282828d0,
    #4141418e,
    #5b5b5b54,
    #7777771a
  );

  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  color: var(--buttonColor);
  font-family: var(--Inter);
  font-weight: 800;
  font-style: italic;
  font-size: 36px;
}

nav .bar {
  display: none;
}
nav .bar i {
  color: var(--primaryColor);
  font-size: 25px;
  cursor: pointer;
}

nav .nav-list {
  border: 2px solid #ffffff33;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
}

nav .nav-list ul {
  padding: 10px 4px;
  display: flex;
  align-items: center;
  column-gap: 45px;
}

nav .nav-list ul li a {
  padding: 8px 20px;
  border-radius: 38px;
  color: var(--primaryColor);
  font-family: var(--Inter);
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  -ms-border-radius: 38px;
  -o-border-radius: 38px;
  transition: background-color ease 0.3s;
  -webkit-transition: background-color ease 0.3s;
  -moz-transition: background-color ease 0.3s;
  -ms-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
}

nav .nav-list ul li a:hover {
  background-color: var(--buttonColor);
}

nav .nav-list ul li a:focus {
  background-color: var(--buttonColor);
}

/* Hero */
.hero {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-left h1 {
  font-size: 78px;
  color: var(--primaryColor);
  font-family: var(--Inter);
  font-weight: 900;
}

.hero .hero-left h1 > span {
  font-family: var(--Miama);
  font-weight: 400;
}

.hero .hero-left p {
  font-size: 16px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 400;
  opacity: 50%;
  padding-top: 25px;
}

.hero-left {
  max-width: 520px;
}

.hero-button {
  padding-top: 22px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero-button .join {
  font-size: 18px;
  font-family: var(--Inter);
  font-weight: 600;
  color: var(--primaryColor);
  padding: 15px 45px;
  background-color: var(--buttonColor);
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border: none;
  cursor: pointer;
  transition: background-color ease-in 0.2s;
  -webkit-transition: background-color ease-in 0.2s;
  -moz-transition: background-color ease-in 0.2s;
  -ms-transition: background-color ease-in 0.2s;
  -o-transition: background-color ease-in 0.2s;
}

.hero-button .join:hover {
  background-color: #bb4837;
}

.hero-button .download {
  font-size: 18px;
  font-family: var(--Inter);
  font-weight: 600;
  color: var(--primaryColor);
  padding: 15px 45px;
  background: transparent;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border: 2px solid var(--primaryColor);
  cursor: pointer;
  transition: background-color ease-in 0.2s;
  -webkit-transition: background-color ease-in 0.2s;
  -moz-transition: background-color ease-in 0.2s;
  -ms-transition: background-color ease-in 0.2s;
  -o-transition: background-color ease-in 0.2s;
}

.hero-button .download:hover {
  background-color: var(--buttonColor);
}

.hero-right .hero-img {
  position: relative;
  margin-right: 57px;
}

.hero-right .hero-img .overlay1 {
  position: absolute;
  top: 154px;
  right: -51px;
  padding: 16px 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1.5px solid #ffffff34;
  background-color: #ffffff2d;
  backdrop-filter: blur(10px);
}

.hero-right .hero-img .overlay1 h4 {
  font-size: 40px;
  font-family: var(--Inter);
  font-weight: 900;
  color: var(--primaryColor);
}

.hero-right .hero-img .overlay1 p {
  font-size: 13px;
  font-family: var(--Inter);
  font-weight: 400;
  color: var(--primaryColor);
  opacity: 60%;
}

.hero-right .hero-img .overlay2 {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.hero-right .hero-img .overlay2 .round {
  width: 40px;
  height: 40px;
  background-color: var(--buttonColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--primaryColor);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right .hero-img .overlay2 {
  position: absolute;
  bottom: 67px;
  left: -100px;
  padding: 16px 24px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1.5px solid #ffffff34;
  background-color: #30303065;
  backdrop-filter: blur(10px);
}

.hero-right .hero-img .overlay2 h4 {
  font-size: 40px;
  font-family: var(--Inter);
  font-weight: 900;
  color: var(--primaryColor);
}

.hero-right .hero-img .overlay2 p {
  font-size: 13px;
  font-family: var(--Inter);
  font-weight: 400;
  color: var(--primaryColor);
  opacity: 60%;
}

/* Habits */
.habits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.habits .habits-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habits .habits-content {
  padding-top: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.habits .habits-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.habits .habits-content .content .content-img {
  width: 180px;
  height: 180px;
  background: url(/assets/image\ 2.png);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.habits .habits-content .content:nth-child(2) .content-img {
  background: url(/assets/image\ 3.png);
}

.habits .habits-content .content:nth-child(3) .content-img {
  background: url(/assets/image\ 4.png);
}

.habits .habits-content .content:nth-child(4) .content-img {
  background: url(/assets/image\ 5.png);
}

.habits .habits-content .content h4 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryColor);
  font-family: var(--Inter);
}

.habits .habits-content .content p {
  font-size: 14px;
  font-weight: 400;
  color: var(--primaryColor);
  font-family: var(--Inter);
  opacity: 50%;
  padding-top: 6px;
  max-width: 230px;
}

.join {
  padding-bottom: 100px;
}

.join .join-wraper {
  background-color: #222222;
  padding: 30px 30px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join .join-wraper .join-left {
  max-width: 440px;
}

.join .join-wraper .join-left > h4 {
  max-width: 300px;
}

.join .join-wraper .join-left > button {
  color: var(--primaryColor);
  font-size: 18px;
  font-family: var(--Inter);
  font-weight: 600;
  background-color: var(--buttonColor);
  padding: 16px 70px;
  margin-top: 30px;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  text-wrap: nowrap;
}

.join .join-wraper .join-left > button:hover {
  background-color: #bb4837;
}

.join-right-img {
  max-width: 420px;
  height: 312px;
  overflow: hidden;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  background-position: center;
  background-size: cover;
}

.join-right-img > img {
  width: 100%;
  height: 100%;
}

/* exercise */
.exercise {
  padding-bottom: 100px;
}
.exercise-heading {
  padding-bottom: 58px;
}

.exercise .exercise-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 403px;
}

.exercise .exercise-container .box-1 {
  background: linear-gradient(80deg, #06ffd180, #06ffd14f),
    url(/assets/exercise1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/4;
  /* grid-column-start: 1;
  grid-column-end: 4; */
  position: relative;
}
.exercise .exercise-container .box-2 {
  background: linear-gradient(80deg, #ff000052, #ff000054),
    url(/assets/exercise2.png);
  background-position: center;
  background-size: cover;
  grid-column: 4/10;
  /* grid-column-start: 4;
  grid-column-end: 10; */
  position: relative;
}
.exercise .exercise-container .box-3 {
  background: linear-gradient(0deg, #00000077, #00000075),
    url(/assets/exercise3.png);
  background-position: center;
  background-size: cover;
  grid-column: 10/13;
  /* grid-column-start: 10;
  grid-column-end: 13; */
  position: relative;
}
.exercise .exercise-container .box-4 {
  background: linear-gradient(0deg, #00000077, #00000075),
    url(/assets/exercise4.png);
  background-position: center;
  background-size: cover;
  grid-column: -13/-8;
  position: relative;
}
.exercise .exercise-container .box-5 {
  background: linear-gradient(0deg, #44ff0048, #44ff0048),
    url(/assets/exercise5.jpg);
  background-position: center;
  background-size: cover;
  grid-column: -8/-5;
  position: relative;
}
.exercise .exercise-container .box-6 {
  background: linear-gradient(0deg, #0048ff46, #0048ff46),
    url(/assets/exercise6.jpg);
  background-position: center;
  background-size: cover;
  grid-column: -5/-1;
  position: relative;
}

.exercise .exercise-container p {
  font-size: 14px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 500;
}

.exercise .exercise-container .exercise-title {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* BMI Calculator */

.bmi-calculator {
  padding-bottom: 80px;
}

.bmi-calculator .bmi-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}

.calculate {
  background-color: #222222;
  padding: 52px;
  display: flex;
  justify-content: space-between;
}

.bmi-calculator .calculate .calculate-left .calculate-left-heading {
  font-size: 28px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 800;
  padding-bottom: 52px;
}

.calculate .calculate-left .chart {
  max-width: 310px;
  border-collapse: collapse;
}

.calculate .calculate-left .chart td {
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-collapse: collapse;
}

.calculate .calculate-left .chart thead td {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--Inter);
  color: var(--primaryColor);
  padding: 15px 18px;
}

.calculate .calculate-left .chart tbody td {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--Inter);
  color: rgba(255, 255, 255, 0.466);
  padding: 13px 18px;
}

.calculate .calculate-right h5 {
  font-size: 28px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 800;
  padding-bottom: 14px;
}

.calculate .calculate-right p {
  max-width: 500px;
}

.calculate .calculate-right .bmi-details {
  max-width: 577px;
  padding: 34px 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.calculate .calculate-right .bmi-details .Height-Weight {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.calculate .calculate-right .bmi-details .Height-Weight input {
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 13px 20px;
  border: none;
  width: 100%;
  color: var(--primaryColor);
}

.calculate .calculate-right .bmi-details .Height-Weight input::placeholder {
  font-size: 16px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 300;
  opacity: 50%;
}

.calculate .calculate-right .bmi-details .activity select {
  width: 100%;
  padding: 13px 20px !important;
  border: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.185);
  color: var(--primaryColor);
  opacity: 50%;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--Inter);
  font-weight: 400;
}

.calculate .calculate-right .bmi-details .activity select option {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  font-size: 14px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  background-color: rgb(136, 136, 136);
  opacity: 50%;
}

.calculate .calculate-right .bmi-details button {
  background-color: var(--buttonColor);
  color: var(--primaryColor);
  font-size: 18px;
  font-family: var(--Inter);
  font-weight: 800;
  padding: 16px 70px;
  border: 0;
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 24px;
}

.calculate .calculate-right .bmi-details button:hover {
  background-color: #a84637;
}

/* Team part css start */
.team {
  margin-bottom: 80px;
}

.team .team-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 55px;
}

.team .team-member {
  padding: 20px;
  background-color: #191919;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.team .team-member .team-member-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
}

.team .team-member .team-member-container .member-1 {
  background-color: red;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 270px;
}
.team .team-member .team-member-container .member-2 {
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer2.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  position: relative;
  height: 270px;
}
.team .team-member .team-member-container .member-3 {
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer3.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  position: relative;
  height: 270px;
}
.team .team-member .team-member-container .member-4 {
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer4.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  position: relative;
  height: 270px;
}
.team .team-member .team-member-container .member-5 {
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer5.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  position: relative;
  height: 270px;
}
.team .team-member .team-member-container .member-6 {
  background: linear-gradient(0deg, #000000af, #0048ff00),
    url(/assets/trainer6.png);
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  overflow: hidden;
  position: relative;
  height: 270px;
}

.team .team-member .team-member-container .member-details {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.team .team-member .team-member-container .member-details h5 {
  font-size: 20px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 800;
  padding-bottom: 2px;
}

.team .team-member .team-member-container .member-details p {
  font-size: 14px;
  font-family: var(--Inter);
  color: var(--primaryColor);
  font-weight: 400;
  opacity: 50%;
}
/* Team part css end */

/* Success part start */
.success-story {
  padding-bottom: 50px;
}

.success-story .success-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-story .success-member-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.success-story .success-member-container .success1 {
  height: 340px;
  background: linear-gradient(0deg, #000000, #0048ff00),
    url(/assets/Success/1.webp);
  background-size: cover;
  background-position: top;
  position: relative;
}

.success-story .success-member-container .success2 {
  height: 340px;
  background: linear-gradient(0deg, #000000, #0048ff00),
    url(/assets/Success/2.webp);
  background-size: cover;
  background-position: top;
  position: relative;
}
.success-story .success-member-container .success3 {
  height: 340px;
  background: linear-gradient(0deg, #000000, #0048ff00),
    url(/assets/Success/3.webp);
  background-size: cover;
  background-position: top;
  position: relative;
}
.success-story .success-member-container .success4 {
  height: 340px;
  background: linear-gradient(0deg, #000000, #0048ff00),
    url(/assets/Success/4.webp);
  background-size: cover;
  background-position: top;
  position: relative;
}

.success-story .success-member-container .success-member-details {
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.success-story .success-member-container .success-member-details h5 {
  color: var(--primaryColor);
  font-weight: 600;
  font-family: var(--Inter);
  font-size: 20px;
  padding-bottom: 5px;
}

.success-story .success-member-container .success-member-details p {
  color: #ffffff77;
  font-weight: 300;
  font-family: var(--Inter);
  font-size: 14px;
  padding-top: 10px;
}

.success-story .success-member-container .success-member-details .rating {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.success-story .success-member-container .success-member-details .rating img {
  width: 15px;
}

.success-story .success-member-container .success-member-details p {
  display: flex;
  align-items: start;
  column-gap: 7px;
}
.success-story .success-member-container .success-member-details p img {
  width: 25px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* Success part end */

/* footer css start */
.footer {
  background-color: #191919;
}

.footer .footer-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 66px 0;
}

.footer .footer-wraper .footer-left h3 {
  font-family: var(--Inter);
  font-size: 70px;
  color: var(--buttonColor);
  font-weight: 800;
  font-style: italic;
}

.footer .footer-wraper .footer-left p {
  font-family: var(--Inter);
  font-size: 14px;
  color: var(--primaryColor);
  font-weight: 300;
  opacity: 50%;
  padding-top: 20px;
  max-width: 400px;
}

.footer .footer-wraper .footer-right {
  display: flex;
  column-gap: 150px;
}

.footer .footer-wraper .footer-right ul .started {
  font-size: 32px;
  font-family: var(--Inter);
  font-weight: 700;
  color: var(--primaryColor);
  padding-bottom: 35px;
}

.footer .footer-wraper .footer-right ul li {
  padding: 10px 0;
}

.footer .footer-wraper .footer-right ul li a {
  font-size: 22px;
  font-family: var(--Inter);
  font-weight: 300;
  color: var(--primaryColor);
  opacity: 50%;
  transition: color ease-in 0.3s;
  -webkit-transition: color ease-in 0.3s;
  -moz-transition: color ease-in 0.3s;
  -ms-transition: color ease-in 0.3s;
  -o-transition: color ease-in 0.3s;

  display: inline-block;
}

.footer .footer-wraper .footer-right ul li a:hover {
  color: var(--primaryColor);
  opacity: 100%;
}

.footer .copyright {
  padding: 35px 0;
  border-top: 1.5px solid #ffffff13;
}

.footer .copyright h5 {
  font-size: 20px;
  font-weight: 300;
  font-family: var(--Inter);
  color: var(--primaryColor);
  opacity: 50%;
  text-align: center;
}
/* footer css end */

/* responsive break points */

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 974px) {
  .common-des {
    max-width: 500px;
  }
  .hero .hero-right {
    padding-top: 70px;
  }

  .hero .hero-left h1 {
    font-size: 50px;
  }

  .hero .hero-right .hero-img {
    width: 351px;
  }

  /* footer */
  .footer .footer-wraper {
    flex-direction: column;
    align-items: start;
    row-gap: 60px;
    padding: 40px 0;
  }
}

@media only screen and (max-width: 842px) {
  nav .nav-list ul {
    column-gap: 15px;
  }

  nav .nav-list ul li a {
    padding: 6px 14px;
  }

  nav .nav-list ul {
    padding: 8px 2px;
  }
  .hero {
    flex-direction: column;
  }

  .hero .hero-left h1 {
    font-size: 60px;
    width: 450px;
  }

  .hero .hero-right {
    padding-top: 70px;
  }
  .hero .hero-right .hero-img .overlay1 {
    top: 62px;
    right: -28px;
  }

  .habits .habits-header p {
    font-size: 12px;
    text-align: center;
  }

  .habits .habits-content {
    align-items: center;
    justify-content: space-between;
  }

  .habits .habits-content .content h4 {
    font-size: 15px;
  }

  .habits .habits-content .content p {
    font-size: 12px;
  }

  .habits .habits-content .content {
    width: 140px;
  }

  .habits .habits-content .content .content-img {
    width: 150px;
    height: 150px;
  }

  /* join */

  .join .join-wraper .join-left > button {
    width: 100%;
  }
  .join .join-wraper {
    padding: 25px 20px;
    column-gap: 146px;
  }

  .join .join-wraper .join-right .join-right-img {
    margin-top: 30px;
    height: 318px;
    width: 255px;
  }

  /* Calculator */
  .bmi-calculator .bmi-heading {
    padding-bottom: 50px;
  }
  .calculate {
    flex-direction: column;
    row-gap: 50px;
  }

  .bmi-calculator .calculate .calculate-left .calculate-left-heading {
    font-size: 20px;
    padding-bottom: 28px;
  }

  .calculate .calculate-right h5 {
    font-size: 20px;
  }

  .calculate .calculate-right p {
    font-size: 12px;
  }

  .calculate .calculate-right .bmi-details button {
    font-size: 14px;
    padding: 13px 50px;
  }

  /* success storty */
  .success-story .success-member-container .success-member-details h5 {
    font-size: 16px;
  }

  .success-story .success-member-container .success-member-details p {
    font-size: 12px;
    padding-top: 8px;
  }
}

@media only screen and (max-width: 768px) {
  /* join */
  .join .join-wraper .join-left > button {
    width: 100%;
  }
  .join .join-wraper {
    padding: 25px 20px;
    column-gap: 100px;
  }

  .join .join-wraper .join-right .join-right-img {
    margin-top: 30px;
    height: 220px;
    width: 200px;
  }
}

@media only screen and (max-width: 736px) {
  .success-story {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 580px) {
  .common-title {
    font-size: 26px;
  }

  .common-des {
    font-size: 12px;
  }
  /* nav */
  nav {
    padding: 40px 10px;
  }

  nav .logo a {
    font-size: 30px;
  }
  nav .nav-list {
    display: none;
  }

  nav .bar {
    display: block;
  }

  /* hero */
  .hero {
    padding: 0 10px;
    flex-direction: column;
  }
  .hero .hero-left h1 {
    font-size: 36px;
    width: 285px;
  }

  .hero .hero-left p {
    font-size: 16px;
  }

  .hero .hero-right {
    padding-top: 47px;
  }

  .hero .hero-right .hero-img {
    width: 253px;
  }

  .hero .hero-right .hero-img .overlay1 {
    padding: 12px 18px;
  }

  .hero .hero-right .hero-img .overlay2 {
    padding: 12px 18px;
  }

  .hero .hero-right .hero-img .overlay1 h4 {
    font-size: 30px;
  }

  .hero .hero-right .hero-img .overlay2 h4 {
    font-size: 30px;
  }

  .hero .hero-right .hero-img .overlay1 p {
    font-size: 12px;
  }

  .hero .hero-right .hero-img .overlay2 p {
    font-size: 12px;
  }

  .hero .hero-right .hero-img .overlay2 {
    bottom: 240px;
    left: -7px;
  }

  .hero .hero-right .hero-img .overlay1 {
    top: 54px;
    right: -68px;
  }

  .hero .hero-right .hero-img .overlay2 .round {
    width: 30px;
    height: 30px;
  }

  .hero .hero-right .hero-img img {
    width: 305px;
  }

  .hero .hero-left .hero-button {
    column-gap: 10px;
  }

  .hero .hero-left .hero-button .join {
    padding: 16px 30px;
    font-size: 14px;
    text-wrap: nowrap;
  }
  .hero .hero-left .hero-button .download {
    padding: 14px 30px;
    font-size: 14px;
    text-wrap: nowrap;
  }

  /* Habits */

  .habits .habits-header p {
    text-align: center;
  }

  .habits .habits-content {
    align-items: center;
    justify-content: center;
    row-gap: 45px;
  }

  .habits .habits-content .content {
    width: 231px;
  }

  .habits .habits-content .content .content-img {
    width: 180px;
    height: 180px;
  }

  /* join */

  .join {
    padding-bottom: 80px;
  }

  .join .join-wraper .join-left > button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
  .join .join-wraper {
    flex-direction: column;
    padding: 25px 20px;
  }

  .join .join-wraper .join-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .join .join-wraper .join-right .join-right-img {
    margin-top: 30px;
    height: 170px;
    width: 100%;
  }

  /* exercise */
  .exercise {
    padding-bottom: 70px;
  }
  .exercise-heading {
    padding-bottom: 40px;
  }

  .exercise-heading > p {
    font-size: 12px;
  }
  .exercise .exercise-container .box-1 {
    grid-column: 1/6;
  }

  .exercise .exercise-container .box-2 {
    grid-column: 6/13;
  }
  .exercise .exercise-container .box-3 {
    display: none;
  }
  .exercise .exercise-container .box-4 {
    grid-column: -13/-7;
  }

  .exercise .exercise-container .box-5 {
    grid-column: -7/-1;
  }

  .exercise .exercise-container .box-6 {
    display: none;
  }

  /* Calculator */

  .bmi-calculator {
    padding-bottom: 58px;
  }

  .calculate .calculate-left .chart thead td {
    font-size: 14px;
    white-space: nowrap;
  }

  .calculate .calculate-left .chart tbody td {
    font-size: 12px;
  }

  /* Team */

  .team {
    margin-bottom: 50px;
  }
  .team .team-member .team-member-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .team .team-member .team-member-container .member-details h5 {
    font-size: 16px;
  }

  .team .team-member .team-member-container .member-details h5 {
    font-size: 12px;
  }

  .team .team-heading {
    padding-bottom: 40px;
  }

  /* Success story */
  .success-story .success-member-container {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .success-story .success-member-container .success-member-details h5 {
    font-size: 14px;
    padding-bottom: 3px;
  }

  .success-story .success-member-container .success-member-details .rating img {
    width: 12px;
  }

  .success-story .success-member-container .success-member-details p img {
    width: 20px;
  }

  .success-story .success-member-container .success-member-details p {
    column-gap: 6px;
  }

  .success-story .success-member-container .success-member-details p {
    font-size: 12px;
    padding-top: 8px;
  }

  /* Footer */
  .footer .footer-wraper .footer-left h3 {
    font-size: 40px;
  }

  .footer .footer-wraper .footer-right {
    column-gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  .footer .footer-wraper .footer-right ul .started {
    font-size: 24px;
    padding-bottom: 24px;
  }

  .footer .footer-wraper .footer-right ul li a {
    font-size: 16px;
  }

  .footer .copyright {
    padding: 24px 0;
  }

  .footer .copyright h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 380px) {
  /* Success story */
  .success-story .success-member-container {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .common-title {
    font-size: 24px;
  }
  /* hero */

  .hero .hero-left .hero-button {
    column-gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .hero .hero-left .hero-button .join {
    padding: 14px 26px;
    font-size: 12px;
    text-wrap: nowrap;
  }

  .hero .hero-left .hero-button .download {
    padding: 12px 26px;
    font-size: 12px;
    text-wrap: nowrap;
  }

  .hero .hero-right .hero-img .overlay1 {
    top: 72px;
    right: -60px;
  }

  .hero .hero-right .hero-img .overlay1 h4 {
    font-size: 24px;
  }

  .hero .hero-right .hero-img .overlay2 {
    bottom: 178px;
    left: 17px;
  }

  .hero .hero-right .hero-img .overlay2 h4 {
    font-size: 24px;
  }
  /* exercise */
  .exercise .exercise-container .box-1 {
    grid-column: 1/13;
  }

  .exercise .exercise-container .box-2 {
    grid-column: -1/-13;
  }
  .exercise .exercise-container .box-3 {
    display: none;
  }
  .exercise .exercise-container .box-4 {
    grid-column: -13/-7;
  }

  .exercise .exercise-container .box-5 {
    grid-column: -7/-1;
  }

  .exercise .exercise-container .box-6 {
    display: none;
  }

  /* Team */
  .team .team-member .team-member-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team .team-member .team-member-container .member-1 {
    height: 240px;
  }
  .team .team-member .team-member-container .member-2 {
    height: 240px;
  }
  .team .team-member .team-member-container .member-3 {
    height: 240px;
  }
  .team .team-member .team-member-container .member-4 {
    height: 240px;
  }
  .team .team-member .team-member-container .member-5 {
    height: 240px;
  }

  .team .team-member .team-member-container .member-6 {
    height: 240px;
  }

  /* footer */

  .footer .footer-wraper .footer-left h3 {
    font-size: 30px;
  }

  .footer .footer-wraper .footer-left p {
    font-size: 12px;
    padding-top: 14px;
  }
  .footer .footer-wraper .footer-right ul .started {
    font-size: 20px;
    padding-bottom: 20px;
  }

  .footer .footer-wraper .footer-right ul li a {
    font-size: 14px;
  }

  .footer .footer-wraper {
    row-gap: 40px;
    padding: 30px 0;
  }
}
